<div class="index-banner", style="background-image: url(https://source.unsplash.com/random/300×150/?<%= @list.name.gsub(" ","-")%>)">
  <div class="container-fluid banner-text">
    <h1><%= @list.name%></h1>
  </div>
  <div class="align-self-end m-2",>
    <%= link_to "delete",
      list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-warning text-white rounded"
    %>
  </div>
</div>

<div class="container px-4 mb-3 pb-5">


  <div class="my-4 d-grid ">
    <button class="btn btn-secondary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">Bookmark a movie!</button>
    <div>
      <div class="collapse " id="collapseExample">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <div class="d-flex align-items-center justify-content-center  gap-4">
            <%= f.association :movie, class:"mx-2"%>
            <%= f.input :comment, class:"h-25 d-inline-block mx-2 " %>
            <%= f.submit "Add Movie", class: "btn btn-primary mx-2 " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <div class="mb-5 row">
    <% @list.movies.each do |movie| %>
      <div class="col-md-6 mb-3">
        <div class="card shadow h-100">
          <img src="<%=movie.poster_url%>" class="card-img-top" alt="...">
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="d-flex justify-content-between px-3 pt-3">
            <h5 class="card-title fw-bolder"><%= movie.title %></h5>
            <div class="d-flex">
              <span class="fw-bolder text-muted"><%=movie.rating%></span>
              <i class="fa-solid fa-star" style="color: #FEDE01;"></i>
            </div>
          </div>
          <p class="card-text text-muted small-size px-3"><%= movie.overview%></p>
          <div class="d-flex justify-content-between mt-auto px-3 pb-3">
            <span class="fw-bolder"><i class="fa-solid fa-quote-left me-1"></i><span class="small-size"><%=bookmark.comment%></span></span>
            <%= link_to "delete",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="row mx-1">
    <div class="col-md-6">
      <h4 class="fw-bolder mb-4">Reviews</h4>
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <p><% review.rating.times do %>
          <i class="fa-solid fa-star" style="color: #FEDE01;"></i>
          <%end%>
        </p>
        <p class="border-bottom pb-3 fst-italic"><%= review.content%></p>
      <% end %>
    </div>
    <div class="col-md-6 pe-0">
      <div class=" bg-white p-4 shadow">
        <h4 class="fw-bolder">New review</h4>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: Review::RATINGS  %>
          <%= f.submit "Submit review", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>


</div>
