<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchListA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-lewagon">
      <div class="navbar-brand">
        <img src="https://img.icons8.com/color/344/popcorn.png" alt="popcorn" class="logo">
      </div>
      <div class="left-navbar-links d-flex">
        <%= link_to "My Lists", lists_path, class: "nav-link me-3" %>
        <%= link_to "New Lists", new_list_path, class: "nav-link me-3" %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
